$grain: #D7CEC7;
$blackboard: #565656;
$oxblood: #76323F;
$tan: #C09F80;
$lightGray: #dadada;

$breakpoint1: 800px;

//Elements 
.input-default { 
    padding: .35em .75em;
    border-radius: 3px;
    outline: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}