@import '../../../globals.scss';

.Dashboard {
    margin: auto;
    width: 90vw;
    background: $oxblood;
    color: $lightGray;
    display: flex;
    margin-top: 2em;
    min-height: 65vh;
    border-radius: 3px;
    border: 1px solid $blackboard;
}

.Dashboard-side {
    list-style-type: none;
    font-weight: 600;
    padding: 1.5em;
    margin: 0;
    font-size: 1em;
    border-right: 3px solid $tan;
    li {
        padding: .75em .25em;
        cursor: pointer;
        &:hover {
            color: $blackboard;
            background: $tan;
        }
    }
}

.Dashboard-body {
    width: 100%;
}